POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=monitoring
POSTGRES_USER=monitoring
POSTGRES_PASSWORD=monitoring

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/monitoring
KEYCLOAK_API_CLIENT_SECRET=monitoring-api-secret
